body {
  font-family: 'Montserrat', sans-serif;
  background-color:#212121;
  color:white;
}

.arrow{
  margin-right:10px;
  margin-top:30px;
  margin-bottom:30px;
}

ul {
  list-style:none;
}

hr {
  border-top:1px solid #5b5b5b;
}

.itemTitle{
  font-size:20px;
}

.detailClick{
  border: solid 1px transparent;
  margin-top: 5px;
  margin-bottom: 10px;
}

.detailClick:hover{
  transition-duration: .4s;
  cursor:pointer;
  /* border-bottom: solid 1px #a9a9a9; */
  border-right: solid 1px #a9a9a9;
}

.header{
  text-align:center;
}

.header h1{
  font-family: 'Cardo', serif;
  font-size:75px;
}
.header h4{
  font-size:20px;
}

p {
  font-size: 12px;
}

h2 {
  color:#5bc0de;
}

.detailBar{
  display:inline;
  padding-right:30px;
}

#stock{
  color:#a9a9a9;
}

.buy {
  margin-left:280px;
}