body {
  font-family: 'Montserrat', sans-serif;
  background-color:#212121;
  color:white;
}

.arrow{
  margin-right:10px;
  margin-top:30px;
  margin-bottom:30px;
}

ul {
  list-style:none;
}

hr {
  border-top:1px solid #5b5b5b;
}

.itemTitle{
  font-size:20px;
}

.detailClick{
  border: solid 2px transparent;
  margin-top: 5px;
  margin-bottom: 10px;
}

.detailClick:hover{
  transition-duration: .2s;
  cursor:pointer;
  border-right: solid 2px #5bc0debe;
}

.detailClick:hover .itemTitle{
  transition-duration:.2s;
  color:#5bc0debe;
}

.header{
  text-align:center;
}

.header h1{
  font-family: 'Cardo', serif;
  font-size:75px;
}
.header h4{
  font-size:20px;
}

p {
  font-size: 15px;
}

h2 {
  color:#5bc0de;
}

.detailBar{
  display:inline;
  padding-right:30px;
}

#stock{
  color:#a9a9a9;
}

.details{
  margin-bottom:30px;  
}

.cartDetails .cartTotal{
  color:white;
  font-size:20px;
}

#fancy{
  border-top:1px solid white;
  margin-bottom:30px;
}